* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

header {
  top: 0;
  position: sticky;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* Navbar */
.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.navbar nav a:hover {
  color: #c2185b;
  text-decoration: underline;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.icons {
  font-size: 16px;
  cursor: pointer;
  gap: 20px;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* Hero */
.hero {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 600;
}

.hero-text p {
  max-width: 450px;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 18px;
  background: #e61e76;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #c2185b;
  transform: translateY(-2px);
}

.hero-img img {
  width: 420px;
  background: url('./images/Circle design.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logos-wrapper {
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px 0;
}

.logos-track {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.logos-track img {
  height: 30px;
  filter: grayscale(50%);
  opacity: 0.7;
}

.logos-track img:hover {
  filter: none;
  opacity: 1;
}

.logos-wrapper:hover .logos-track {
  animation-play-state: paused;
}

/* Section Title */
.section-title {
  text-align: center;
  margin: 50px 0 30px;
  font-size: 28px;
  font-weight: 600;
}

/* Product Cards */
.product-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card .price {
  font-size: 18px;
  font-weight: 600;
}

.rating {
  font-size: 14px;
  color: #e89e00;
}

.rating span {
  color: #777;
  font-size: 13px;
}

.info {
  font-size: 13px;
  color: #777;
}

.see-more {
  text-align: right;
  max-width: 1200px;
  margin: 20px auto;
  font-size: 16px;
  color: #e61e76;
  cursor: pointer;
}

/* Featured Section */
.featured {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.featured img {
  width: 460px;
  border-radius: 10px;
}

.featured-text h2 {
  font-size: 32px;
}

.featured-text p {
  max-width: 400px;
  color: #555;
}

/* Footer */
footer {
  background: linear-gradient(180deg, #0b0b2e, #050518);
  color: white;
  text-align: center;
  padding: 50px 20px;
}

footer h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

footer .social {
  font-size: 22px;
  margin-top: 10px;
}

/* Animation  */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(50%);
  }
}

/* Responsive device */

/* Tablet (max-width: 992px) */
@media (max-width: 992px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-img img {
    width: 320px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured {
    flex-direction: column;
    text-align: center;
  }

  .featured img {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .navbar {
    position: relative;
  }

  .navbar nav {
    position: absolute;
    top: 70px;
    right: 10px;
    background: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

    display: none;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    z-index: 1000;
  }

  .navbar nav.active {
    display: flex;
  }

  .icons {
    margin-top: 10px;
  }
}

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {

  .navbar nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .icons {
    margin-top: 10px;
  }

  .hero {
    padding: 10px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .hero-img img {
    width: 260px;
  }

  .logos-track {
    gap: 25px;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 12px;
  }

  .section-title {
    font-size: 22px;
  }

  .featured-text h2 {
    font-size: 24px;
  }

  .featured-text p {
    font-size: 14px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 13px;
  }
}